#emaildiv {
  width: 610px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #888888;
  background: lightgrey;
}
#namediv {
  width: 610px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #888888;
  background: lightgrey;
}
#picturediv {
  width: 610px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #888888;
  background: lightgrey;  
}
#namebtn {
  padding: 5px;
}
#emailbtn {
  padding: 5px;
}
#picbtn {
  padding: 5px;
}
#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00FFFF;
    background: radial-gradient(circle, #00FFFF, #00B2B2);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
